@font-face {
    font-family: 'VWTextWeb-Regular';
    src: url('../fonts/VWTextWeb-Regular.eot');
}
@font-face {
    font-family: 'VWTextWeb-Regular';
    src: url('../fonts/VWTextWeb-Regular.ttf');
}

@font-face {
    font-family: 'VWTextWeb-Regular';
    src: url('../fonts/VWTextWeb-Regular.woff') format('woff'),
    url('../fonts/VWTextWeb-Regular.svg#VWTextWeb-Regular') format('svg');
}