@font-face {
    font-family: 'VW-Regular';
    src: url('../fonts/VWTextWeb-Regular.eot');
}

@font-face {
    font-family: 'VW-Regular';
    src: url('../fonts/VWTextWeb-Regular.woff') format('woff'),
    url('../fonts/VWTextWeb-Regular.svg#Font') format('svg');
}